.callout {
  display: flex;
  flex-direction: column;

  @include mq($md) {
    border-bottom: $border;
    flex-direction: row;

    .page-section--alt-layout & {
      flex-direction: row-reverse;
    }
  }
}

.callout--col {
  display: flex;

  @include mq($md) {
    width: columns(4);
  }
}

.callout--content {
  align-self: flex-end;
  position: relative;
  width: 100%;

  &:not(.collout--content--text) {
    border-radius: $br $br 0 0;
    overflow: hidden;
  }
}

.collout--content--text {
  @include padding($grid-gutter x);
  align-self: center;

  @include mq($md) {
    @include padding(x x x $grid-gutter);

    .page-section--alt-layout & {
      @include padding(x $grid-gutter x 0);
    }
  }

  @include mq($lg) {
    @include padding($grid-gutter-lg x $grid-gutter-lg $grid-gutter-lg);

    .page-section--alt-layout & {
      @include padding($grid-gutter-lg $grid-gutter-lg $grid-gutter-lg 0);
    }
  }

  @include mq($xl) {
    margin-left: $grid-gutter-lg;

    .page-section--alt-layout & {
      @include margin(x $grid-gutter-lg x 0);
    }
  }
}

.callout--label {
  @include absolute($sp-lg x x 50%);
  @include label;
  transform: translateX(-50%);
  z-index: 1;

  &-muted {
    opacity: 0.5;
  }
}

.callout--art {
  display: flex;
  overflow: hidden;
  position: relative;

  svg {
    @include size(100%);
  }
}

.callout--art-image {
  @include absolute(x x -40% 50%);
  @include size(70%, 100%);
  align-items: center;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);

  img {
    @include size(100%, auto);
    @include margin(x auto);
  }
}

.callout--dots {
  @include margin(x auto);
  @include size(97%, 89%);
  border-radius: $br-sm;
  overflow: hidden;
  position: absolute;

  span {
    background-color: transparentize($color-spot, 0.7);
    border: 2px solid transparentize($color-spot, 0.5);
    border-radius: $br;
    display: block;
    position: absolute;
  }
}

.callout--title {
  @include fs-h3;
  margin-bottom: $sp-md;
}

.callout--title-label {
  @include body-text;
  color: $color-spot;
  font-weight: $fw-bold;
  margin-bottom: $sp-base;

  p {
    margin-bottom: 0;
  }
}

.callout--deck {
  @include body-text;
  margin-bottom: $sp-lg;
}

.callout--button {
  @include margin(x $grid-gutter / 2 $grid-gutter x);
  display: inline-block;
}
