.header {
  @include site-padding;
  position: relative;
  z-index: 10;
}

.header-content {
  @include padding($sp-md x);
  align-items: flex-start;
  border-bottom: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq($md) {
    align-items: center;
    flex-direction: row;
  }
}

.header-logo {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;

  @include mq($sm, $md) {
    flex-direction: column;
  }

  @include mq($md) {
    flex: 1 1 0;
  }
}

.header-logo--link {
  background-image: none;
  display: flex;
  margin-right: $sp-md;

  @include mq($md) {
    width: auto;
  }

  svg {
    max-width: 250px;
    width: 100%;
  }
}

.header-logo--tagline {
  font-size: $fs-base;
  margin-bottom: 0;

  @include mq($sm, $md) {
    width: columns(8);
  }
}

.header-button-group {
  @include mq($sm, $md) {
    bottom: $sp-md;
    position: fixed;
    width: calc(100% - (2 * #{$sp-md}));
    z-index: 10;
  }

  @include mq($md) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.header-button {
  @include mq($md) {
    margin-left: $sp-md;
  }
}

.header-button--donate {
  @include mq($sm, $lg) {
    display: none;
  }
}
