.header {
  @include site-padding;
  position: relative;
  z-index: 10;
}

.header-content {
  @include padding($sp-md x);
  align-items: flex-start;
  border-bottom: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq($md) {
    align-items: center;
    flex-direction: row;
  }
}

.header-logo {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  @include mq($sm, $md) {
    margin-bottom: $sp-base;
  }
}

.header-logo--link {
  background-image: none;
  margin-right: $sp-md;
  width: 50%;

  @include mq($md) {
    width: auto;
  }

  svg {
    max-width: 200px;
    width: 100%;
  }
}

.header-signup {
  @include mq($sm, $md) {
    bottom: $sp-md;
    position: fixed;
    width: calc(100% - (2 * #{$sp-md}));
    z-index: 10;
  }
}
