.hiw-block {
  background-color: $color-bg-blue;
  border-radius: $br-sm;
  position: relative;
}

.hiw-block-content {
  @include padding($sp-lg);
  position: absolute;
}

.hiw-block-art {
  svg {
    @include size(100%);
  }
}

.hiw-block--heading {
  margin-bottom: $sp-lg;
}

.hiw-block--deck {
  color: transparentize($color-base, 0.3);
}
