.link--button {
  @include padding($sp-base $sp-sm);
  align-items: center;
  background-color: $color-bg;
  background-image: none;
  border: 1px solid $color-spot;
  border-radius: $br;
  display: inline-flex;

  @include on-focus {
    background-color: $color-base;
    border-color: transparent;
    color: $color-bg;
  }

  @include mq($md) {
    @include padding($sp-sm $sp-lg);
  }

  svg {
    margin-left: $sp-lg;
  }
}
