.link--button {
  @include padding($sp-base $sp-sm);
  align-items: center;
  background-color: $color-bg;
  background-image: none;
  border-radius: $br;
  display: inline-flex;
  font-size: $fs-base;
  font-weight: $fw-bold;
  justify-content: center;

  @include on-focus {
    background-color: $color-spot;
    color: $color-bg;

    svg {
      color: $color-bg;
    }
  }

  @include mq($md) {
    @include padding($sp-sm $sp-lg);
  }

  svg {
    @include size($fs-base);
    color: $color-spot;
    margin-left: $sp-md;
  }

  &-primary {
    background-color: $color-spot;
    border-color: transparent;
    color: $color-bg;

    svg {
      color: $color-bg;
    }
  }

  &-inline {
    @include padding(0);
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $color-spot;
    border-radius: 0;

    @include on-focus {
      background-color: transparent;
      color: $color-spot;
    }
  }
}

.link--button-icon {
  @include padding($sp-md $sp-lg);
  background-color: $color-base;
  color: $color-bg;

  svg {
    @include margin(0 $sp-base 0 0);
    @include size($fs-sm);
  }
}
