.news-article-header {
  display: inline-block;
  margin-bottom: $sp-base;
}

.news-article--meta {
  @include small-text;
  color: $color-base;

  p {
    margin-bottom: $sp-xs;
  }
}

.news-article--meta-date {
  @include label;
}

.news-article--headline {
  display: inline;
}

.meta-dot {
  color: darken($color-bg, 15%);
}
