.news-article-header {
  display: inline-block;
  margin-bottom: $sp-base;
}

.news-article--meta {
  color: $color-base;
  font-size: $fs-xs;

  p {
    margin-bottom: $sp-xs;
  }
}

.news-article--meta-date {
  @include label;
}

.news-article--headline {
  display: inline;
}
