.news-article-header {
  display: inline-block;
  margin-bottom: $sp-base;
}

.news-article--meta {
  color: $color-base;

  p {
    margin-bottom: $sp-xs;
  }
}

.news-article--headline {
  display: inline;
}
