.pill {
  @include margin(x auto);
  position: relative;

  @include mq(0, $md-lg) {
    max-width: 320px;
  }
}

.pill-bg {
  @include absolute(0 x x 50%);
  background-image: $gradient-blue;
  border-radius: $br;
  transform: translateX(-50%);

  @include mq(0, $md-lg) {
    display: none;
  }
}

.pill-content {
  @include padding($sp-xl x);
  background-image: $gradient-blue;
  border-radius: $br;
  color: $color-bg;
  position: relative;

  @include mq($md-lg) {
    @include padding(0 x);
    display: flex;
    justify-content: center;
  }
}

.pill-side {
  @include padding($sp-xl $sp-lg);
  text-align: center;

  @include mq($md) {
    @include padding($sp-xl);
  }
}

.pill-side-content {
  @include margin(x auto);
  max-width: $sm;
}

.pill-side--deck {
  @include margin(0);
  font-size: $fs-base;
}

.pill-icon {
  color: $color-spot;
  position: relative;

  @include mq(0, $md-lg) {
    @include size(100%, 0);
    border-top: 2px solid $color-bg;

    &::after {
      @include absolute(0 x x 50%);
    }

    &::before {
      @include relative(0 x x 50%);
    }
  }

  @include mq($md-lg) {
    @include size(0, auto);
    border-right: 2px solid $color-bg;

    &::before {
      @include relative(50% x x 50%);
      transform: translate(-50%, -50%);
    }

    &::after {
      @include absolute(50% x x 50%);
    }
  }

  &::after,
  &::before {
    display: block;
    transform: translate(-50%, -50%);
  }

  &::after {
    @include size(39px);
    content: url('/static/svgs/icon-plus.svg');
  }

  &::before {
    @include size($sp-xl);
    background-color: $color-bg;
    border-radius: $br;
    box-shadow: -5px -5px 10px transparentize($color-white, 0.85),
      -5px -5px 30px transparentize($color-white, 0.75),
      5px 5px 10px transparentize(darken($color-spot, 15%), 0.65),
      5px 5px 30px transparentize(darken($color-spot, 15%), 0.75);
    content: '';
  }
}
