.whitepaper-link {
  @include padding(x $sp-md $sp-md);
  background-color: $color-bg-light;
  background-image: none;
  border: 2px solid transparent;
  border-radius: $br-sm;
  display: block;

  @include on-focus {
    border-color: $color-spot;

    .whitepaper-title {
      border-top-color: $color-spot;
    }
  }

  @include mq($md) {
    @include padding(x $sp-lg $sp-lg);
  }

  .whitepaper--line-block & {
    @include padding($sp-md 0);
    align-items: baseline;
    background-color: initial;
    border: 0;
    border-bottom: $border;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq($md) {
      flex-direction: row-reverse;
    }
  }
}

.whitepaper-label {
  @include padding($sp-base x $sp-xl);
  @include label;
  display: flex;
  justify-content: space-between;

  @include mq($xl) {
    font-size: $fs-xs;
  }

  svg {
    @include size(18px);
    color: $color-spot;
    margin-left: auto;
  }

  .whitepaper--line-block & {
    @include padding(0);

    @include mq(0, $md) {
      margin-bottom: $sp-base;
      width: 100%;
    }

    @include mq($md) {
      flex: 0.5;
      margin-left: $sp-lg;
    }

    @include mq($lg) {
      flex: 0.8;
    }
  }
}

.whitepaper-title {
  @include paragraph;
  border-top: $border;
  margin-bottom: 0;
  padding-top: $sp-base;

  .whitepaper--line-block & {
    border-top: 0;
    padding-top: 0;

    @include mq($md) {
      flex: 1;
    }
  }
}
