.whitepaper-link {
  @include padding(x $sp-md $sp-md);
  background-color: $color-white;
  background-image: none;
  border: 2px solid transparent;
  display: block;

  @include on-focus {
    border-color: $color-spot;
  }

  @include mq($md) {
    @include padding(x $sp-lg $sp-lg);
  }
}

.whitepaper-label {
  @include padding($sp-base x $sp-xl);
  @include uppercase;
  color: $color-base;
  display: flex;
  font-size: $fs-base;
  justify-content: space-between;

  svg {
    color: $color-spot;
    margin-left: auto;
  }
}

.whitepaper-title {
  @include paragraph;
  border-top: 1px solid $color-base;
  margin-bottom: 0;
  padding-top: $sp-base;
}
