.section-title {
  position: relative;

  @include mq($lg) {
    margin-right: $grid-gutter * 2;
  }
}

.intro-content {
  margin-bottom: $sp-lg;

  @include mq($md) {
    margin-bottom: $sp-xl;
    width: columns(5, 6);
  }
}
