$border: 1px solid $color-base;

.news-content {
  @include mq($md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.news-content-block {
  box-sizing: border-box;

  @include mq($md) {
    display: flex;
    width: columns(1, 2);

    &:nth-child(odd) {
      border-right: $border;
    }

    &:nth-child(even) {
      .content-block-inner {
        padding-left: $grid-gutter;
      }
    }

    &:last-child,
    &:nth-last-child(2):nth-child(odd) {
      .content-block-inner {
        border-bottom: 0;
      }
    }
  }
}

.content-block-inner {
  @include padding($grid-gutter x);
  border-bottom: $border;

  @include mq($md) {
    @include padding(($grid-gutter * 2) $grid-gutter ($grid-gutter * 2) x);
  }
}
