.section-principles-content {
  align-items: baseline;
}

.principles-block {
  margin-bottom: $sp-xl;
}

.principles-block-content {
  @include mq($md-lg) {
    padding-right: $grid-gutter;
  }

  @include mq($lg) {
    padding-right: $grid-gutter-lg;

    .principles-block:last-child & {
      padding-left: $grid-gutter;
    }
  }
}

.principles-list {
  @include margin(0);
  @include padding(0);
  justify-content: center;
  list-style: none;
}

.principles-title {
  @include body-text;
  border-bottom: $border;
  color: $color-spot;
  font-weight: $fw-bold;
  padding-bottom: $sp-md;
}

.principles-headline {
  @include margin($sp-md x);
}

.principles-deck {
  @include paragraph;
}

.principles-list-item {
  @include h3;
  @include padding($sp-md x);
  align-items: center;
  border-bottom: $border;
  display: flex;
  margin-bottom: 0;

  h3 {
    @include margin(0);
    @include paragraph;
    font-weight: normal;
  }

  svg {
    @include padding($sp-xs / 2);
    @include size($sp-md);
    border: 1px solid $color-spot;
    border-radius: $br;
    margin-right: $sp-md;
  }
}
