.page-section {
  @include site-padding;
  margin-bottom: $sp-xl;
}

.page-section-content {
  @include margin(x auto);
  @include padding($sp-xl x);
  border-top: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  max-width: $layout-max-width;
  position: relative;
  z-index: 1;

  @include mq($lg) {
    align-items: flex-start;
    flex-direction: row;

    .section-body {
      width: columns(6);
    }
  }
}

.section-header {
  @include mq($sm, $lg) {
    margin-bottom: $sp-lg;
  }

  @include mq($lg) {
    position: sticky;
    top: $sp-xl;
    width: columns(2);
  }
}

.section-art {
  margin-bottom: $sp-xl;

  @include mq($md) {
    margin-right: $grid-gutter;
  }
}
