.page-section {
  @include site-padding;
}

.page-section-content {
  @include padding($sp-xl x);
  position: relative;
  z-index: 1;

  @include mq($lg) {
    @include padding($sp-xxl x 0);
  }
}

.section-header {
  @include mq($sm, $lg) {
    margin-bottom: $sp-lg;
  }

  @include mq($lg) {
    position: sticky;
    top: $sp-xl;
    width: columns(2);
  }
}

.section-art {
  margin-bottom: $sp-xl;

  @include mq($md) {
    margin-right: $grid-gutter;
  }
}
