{#
title: Callouts section
#}

<div class="page-section page-section--callout {{altLayout ? 'page-section--alt-layout' : ''}}">
  <div class="page-section-content js-reveal">
    {% include '@templates/partials/callout.twig' with {callout} %}
  </div>
</div>