{#
title: Partners section
#}

{% embed "@templates/layouts/section.twig" %}

{% set partners = site.data['partners.json'].partners %}

{% block header %}
<h3 class="section-title">Partners</h3>
{% endblock %}

{% block content %}
{% include '@templates/partials/partners-list.html' with {partners} %}
{% endblock %}

{% endembed %}