{#
title: Team section
#}

{% embed "@templates/layouts/section.twig" %}

{% set team = site.data['team.json'] %}

{% block header %}
<h3 class="section-title">The Team</h3>
{% endblock %}

{% block content %}
<div class="intro-content">
  <p class="intro-paragraph">Our team is composed of a consortium of epidemiologists, engineers, data scientists, digital privacy evangelists, professors and researchers from reputable institutions.</p>
</div>
{% for department in team.departments %}
  {% include '@templates/partials/team-list.twig' with { department } %}
{% endfor %}

{% endblock %}

{% endembed %}