{#
title: Team section
#}

{% embed "@templates/layouts/section.twig" %}

{% set team = site.data['team.json'] %}

{% block header %}
<h3 class="section-title">{{team.title}}</h3>
{% endblock %}

{% block content %}
<div class="intro-content">
  <p class="intro-paragraph">{{team.intro}}</p>
</div>
{% for department in team.departments %}
  {% include '@templates/partials/team-list.twig' with { department } %}
{% endfor %}

{% endblock %}

{% endembed %}