{#
title: Principles section
#}

<div class="page-section section-principles">
  <div class="page-section-content">
    <h2 class="principles-title">Guiding Principles</h2>

    <ul class="principles-list grid">
      <li class="principles-list-item grid-cell"><h3>You control your data</h3></li>
      <li class="principles-list-item grid-cell"><h3>Doctor-verified cases</h3></li>
      <li class="principles-list-item grid-cell"><h3>We only win together</h3></li>
    </ul>
  </div>
</div>