{#
title: How it works section
#}

{% embed "@templates/layouts/section.twig" %}

{% block content %}
<div class="grid">
  {% for i in 1..3 %}
    <div class="grid-cell col-3">
      {% include '@templates/partials/hiw-block.html' %}
    </div>
  {% endfor %}
</div>
{% endblock %}

{% endembed %}