{#
title: Update section
#}

{% embed "@templates/layouts/section.twig" %}

{% block header %}
<h3 class="section-title">Update</h3>
{% endblock %}

{% block content %}
<p>The app is now at "Phase 2" functionality. We have rolled out features that will now inform you if you've crossed paths with published data -- however the availability of published data is currently highly limited. Be watching for updates on our list serv on when that information will become available -- we are currently working with several cities across the US and countries across the world for this.</p>
{% endblock %}

{% endembed %}
