{#
title: Why — Safe — Paths section
#}

<div class="page-section why-safe-paths">
  <div class="page-section-content">
    <h2 class="wsp-title grid js-reveal">
      <span class="grid-cell wsp-title-col js-reveal-stagger-item">
        <span class="wsp-title-word">Why</span>
      </span>
      <span class="grid-cell wsp-title-col js-reveal-stagger-item">
        <span class="wsp-title-word">Safe</span>
      </span>
      <span class="grid-cell wsp-title-col js-reveal-stagger-item">
        <span class="wsp-title-word">Paths</span>
      </span>
    </h2>

    <div>
      <ol class="grid wsp-list js-reveal">
        <li class="grid-cell wsp-list-item js-reveal-stagger-item">
          <div class="wps-list-item-content">
            <h3 class="wsp-list-item-heading">Health data you can trust</h3>
            <p class="wsp-list-item-deck">Other apps don’t have data validated by doctors. Can you trust them?</p>
          </div>
        </li>

        <li class="grid-cell wsp-list-item js-reveal-stagger-item">
          <div class="wps-list-item-content">
            <h3 class="wsp-list-item-heading">Privacy first &amp; foremost</h3>
            <p class="wsp-list-item-deck">Designed from day one with privacy at its core. No big brothers here.</p>
          </div>
        </li>

        <li class="grid-cell wsp-list-item js-reveal-stagger-item">
          <div class="wps-list-item-content">
            <h3 class="wsp-list-item-heading">More reliable than memory</h3>
            <p class="wsp-list-item-deck">You can’t remember everywhere you’ve been, but your phone can.</p>
          </div>
        </li>
      </ol>

      <div class="grid wsp-screenshots js-reveal">
        <div class="grid-cell col-2 js-reveal-stagger-item">
          <img src="/static/img/wsp-1.png" alt="App screenshot" />
        </div>
        <div class="grid-cell col-2 js-reveal-stagger-item">
          <img src="/static/img/wsp-2.png" alt="App screenshot" />
        </div>
        <div class="grid-cell col-2 js-reveal-stagger-item">
          <img src="/static/img/wsp-3.png" alt="App screenshot" />
        </div>
        <div class="grid-cell col-2 js-reveal-stagger-item">
          <img src="/static/img/wsp-4.png" alt="App screenshot" />
        </div>
      </div>
    </div>
  </div>
</div>
