{#
title: Basic section
#}

{% set features = site.data['features.json'] %}

{% embed "@templates/layouts/section.twig"  %}

{% block header %}
<h3 class="section-title">The App</h3>
{% endblock %}

{% block content %}
<div class="intro-content">
  <p class="intro-paragraph">Be notified if you if you've been potentially exposed to COVID-19. Designed with privacy as the No. 1 priority.</p>
</div>

<figure class="section-art">
  <img src="/static/img/app-screenshot.png" alt="Private Kit app screenshot" />
  <figcaption>
    Screenshots are from a forthcoming release of the app.
  </figcaption>
</figure>

<div class="topper-section">
  {% for feature in features %}
  <div class="topper-section--col topper-feature">
    {% include '@templates/partials/numbered-feature.twig' with {
      'title': feature.title, 
      'description': feature.description
      }
    %}
  </div>
  {% endfor %}

</div>
{% endblock %}

{% endembed %}