{#
title: Callouts section
#}

<div class="page-section {{altLayout ? 'page-section--alt-layout' : ''}}">
  <div class="page-section-content">
    {% include '@templates/partials/callout.twig' %}
  </div>
</div>