{#
title: Why — Safe — Paths section
#}

<div class="page-section why-safe-paths">
  <div class="page-section-content">
    <h2 class="wsp-title grid">
      <span class="grid-cell wsp-title-col">
        <span class="wsp-title-word">Why</span>
      </span>
      <span class="grid-cell wsp-title-col">
        <span class="wsp-title-word">Safe</span>
      </span>
      <span class="grid-cell wsp-title-col">
        <span class="wsp-title-word">Paths</span>
      </span>
    </h2>

    <div>
      <ol class="grid wsp-list">
      {% for i in 1..3 %}
        <li class="grid-cell wsp-list-item">
          <div class="wps-list-item-content">
            <h3 class="wsp-list-item-heading">Health data you can trust</h3>
            <p class="wsp-list-item-deck">Other apps don’t have data validated by doctors.  Can you trust them?</p>
          </div>
        </li>
      {% endfor %}
      </ol>

      <div class="wsp-screenshots">
        <img src="/static/img/why-safe-paths.png" alt="App screenshots" />
      </div>
    </div>
  </div>
</div>