{#
title: Principles section
#}

<div class="page-section section-principles">
  <div class="page-section-content section-principles-content grid js-reveal">
    <div class="principles-block grid-cell js-reveal-stagger-item">
      <div class="principles-block-content">
        <div class="principles-title">About</div>
        <h2 class="principles-headline">We are a community-led movement.</h2>
        <p  class="principles-deck">Safe Paths is developing a free, open-source, privacy-by-design tools for individuals, public health officials, and larger communities to flatten the curve of COVID-19, reduce fear, and prevent a surveillance-state response to the pandemic.</p>
        <p class="">{% include '@templates/partials/inline-button.html' with {'link': '/about.html', 'label': 'Learn more'} %}</p>
      </div>
    </div>
    
    <div class="principles-block grid-cell js-reveal-stagger-item">
      <div class="principles-block-content principles-list-container">
        <div class="principles-pill">
          <div class="principles-title">Guiding Principles</div>

          <ul class="principles-list js-reveal">
            <li class="principles-list-item js-reveal-stagger-item">
            {% include '@templates/svgs/checkmark.svg' %}
            <h3>You control your data</h3>
            </li>
            <li class="principles-list-item js-reveal-stagger-item">
            {% include '@templates/svgs/checkmark.svg' %}
            <h3>Doctor-verified cases</h3>
            </li>
            <li class="principles-list-item js-reveal-stagger-item">
            {% include '@templates/svgs/checkmark.svg' %}
            <h3>We only win together</h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>