{#
title: Principles section
#}

<div class="page-section section-principles">
  <div class="page-section-content">
    <h2 class="principles-title">Guiding Principles</h2>

    <ul class="principles-list grid">
      <li class="principles-list-item grid-cell">You control your data</li>
      <li class="principles-list-item grid-cell">Doctor-verified cases</li>
      <li class="principles-list-item grid-cell">We only win together</li>
    </ul>
  </div>
</div>