{#
title: Basic section
#}

{% embed "@templates/layouts/basic-section.twig" %}

{% set about = site.data['about.yaml'] %}

{% block header %}
<h3 class="section-title">{{about.title}}</h3>
{% endblock %}

{% block content %}
<div class="intro-content">
  <p class="intro-paragraph">
    {{about.intro}}
  </p>
</div>

<div class="text-truncated js-toggle-element" style="--shadow-opacity: 1">
  <div class="text-truncated-content">
    {{about.body}}
  </div>
  <div></div>
</div>

<button class="inline-button button read-more-button js-toggle-button">Read more</button>
{% endblock %}

{% endembed %}