{#
title: Why — Safe — Paths section
#}

<div class="page-section why-safe-paths">
  <div class="page-section-content">
    <h2 class="wsp-title grid js-reveal">
      <span class="grid-cell wsp-title-col js-reveal-stagger-item">
        <span class="wsp-title-word">Why</span>
        <span class="wsp-title-line"></span>
      </span>
      <span class="grid-cell wsp-title-col js-reveal-stagger-item">
        <span class="wsp-title-word">Safe</span>
        <span class="wsp-title-line"></span>
      </span>
      <span class="grid-cell wsp-title-col js-reveal-stagger-item">
        <span class="wsp-title-word">Paths</span>
      </span>
    </h2>

    <div>
      <ol class="grid wsp-list js-reveal">
        <li class="grid-cell wsp-list-item js-reveal-stagger-item">
          <div class="wps-list-item-content">
            <h3 class="wsp-list-item-heading">Health data you can trust</h3>
            <p class="wsp-list-item-deck">Other apps don’t have data validated by doctors. Can you trust them?</p>
          </div>
        </li>

        <li class="grid-cell wsp-list-item js-reveal-stagger-item">
          <div class="wps-list-item-content">
            <h3 class="wsp-list-item-heading">Privacy first & foremost</h3>
            <p class="wsp-list-item-deck">Designed from day one  with privacy at it’s core. No big brothers here.</p>
          </div>
        </li>

        <li class="grid-cell wsp-list-item js-reveal-stagger-item">
          <div class="wps-list-item-content">
            <h3 class="wsp-list-item-heading">More reliable than memory</h3>
            <p class="wsp-list-item-deck">You can’t remember everywhere you’ve been, but your phone can.</p>
          </div>
        </li>
      </ol>

      <div class="wsp-screenshots js-reveal">
        <img src="/static/img/why-safe-paths.png" alt="App screenshots" />
      </div>
    </div>
  </div>
</div>