{#
title: Basic section
#}

{% set features = site.data['features.yaml'] %}

{% embed "@templates/layouts/basic-section.twig"  %}

{% block header %}
<h3 class="section-title">{{features.title}}</h3>
{% endblock %}

{% block content %}
<div class="intro-content">
  <p class="intro-paragraph">{{features.intro}}</p>
</div>

<figure class="section-art">
  <img src="/static/img/why-safe-paths.png" alt="Private Kit app screenshot" />
  <figcaption>
    Screenshots are from a forthcoming release of the app.
  </figcaption>
</figure>

<div class="topper-section">
  {% for feature in features.features %}
  <div class="topper-section--col topper-feature">
    {% include '@templates/partials/numbered-feature.twig' with {
      'title': feature.title, 
      'description': feature.description
      }
    %}
  </div>
  {% endfor %}

</div>
{% endblock %}

{% endembed %}