{#
title: Basic section
#}

{% embed "@templates/layouts/section.twig" %}

{% block header %}
<h3 class="section-title">Support the PrivacyFirst effort</h3>
{% endblock %}

{% block content %}
<div class="intro-content">
  <p class="intro-paragraph">
    We are seeking strategic partners, cities to pilot COVID SafePaths, financial support, software developers, and others with a passion for building this tool. Can you help us? Connect with us <a href="http://forms.gle/3fzhfJkq8kbF7uf89" target="_blank" rel="noopener">here</a>.
  </p>
</div>
{% endblock %}

{% endembed %}