{#
title: Basic section
#}

{% embed "@templates/layouts/section.twig" %}

{% set introParagraph = "We are seeking strategic partners, cities to pilot Private Kit, financial support, software developers, and others with a passion for building this tool. Can you help us? Connect with <a href='http://forms.gle/3fzhfJkq8kbF7uf89' target='_blank' rel='noopener'>here</a>." %}

{% block header %}
<h3 class="section-title">Support the PrivacyFirst effort</h3>
{% endblock %}

{% block content %}
<div class="intro-content">
    {% include '@templates/partials/intro-paragraph.twig' with {'paragraph': introParagraph} %}
</div>
{% endblock %}

{% endembed %}