{#
title: Basic section
#}

{% embed "@templates/layouts/section.twig" %}

{% set support = site.data['support.json'] %}

{% block header %}
<h3 class="section-title">{{support.title}}</h3>
{% endblock %}

{% block content %}
<div class="intro-content">
  <p class="intro-paragraph">
    {{support.intro}}
  </p>
</div>
{% endblock %}

{% endembed %}