<header class="header">
  <div class="header-content">
    <h1 class="visually-hidden">Safe Paths</h1>
    <div class="header-logo">
      <a class="header-logo--link" href="/">
        {% include '@templates/svgs/logo.svg' %}
      </a>
      <p class="header-logo--tagline">Privacy-by-design contact tracing</p>
    </div>
    
    <div class="header-button-group">
      <div class="header-button header-button--donate">
        {% include 'link-button.twig' with {'label': 'Donate', 'link': 'https://giving.mit.edu/search/node/2741127', 'newTab': true, 'primary': true} %}
      </div>
      <div class="header-button">
        {% include 'link-button.twig' with {'label': 'Signup for updates', 'link': 'https://forms.gle/v5dTVptSAGa93Bh36', 'newTab': true} %}
      </div>
    </div>
  </div>
</header>