{% set donate = false %}

{% set signup = {
  "label": "Signup for updates",
  "link": "https://forms.gle/v5dTVptSAGa93Bh36"
  } 
%}

<header class="header">
  <div class="header-content">
    <h1 class="visually-hidden">Safe Paths</h1>
    <div class="header-logo">
      <a class="header-logo--link" href="/">
        {% include '@templates/svgs/logo.svg' %}
      </a>
      <p class="header-logo--tagline">Privacy-by-design contact tracing</p>
    </div>
    
    <div class="header-button-group">
      {% if donate %}
        <div class="header-button header-button--donate">
          {% include 'link-button.twig' with {'label': donate.label, 'link': donate.link, 'newTab': true, 'primary': true} %}
        </div>
      {% endif %}

      {% if signup %}
      <div class="header-button">
        {% include 'link-button.twig' with {'label': signup.label, 'link': signup.link, 'newTab': true} %}
      </div>
      {% endif %}
    </div>
  </div>
</header>