<header class="header">
  <div class="header-content">
    <h1 class="visually-hidden">Safe Paths</h1>
    <div class="header-logo">
      <a class="header-logo--link" href="/">
        {% include '@templates/svgs/logo.svg' %}
      </a>
    </div>

    <div class="header-button-group">
      <div class="mobile-nav-icon">
      </div>
      <nav class="header--nav">
        <div class="header--nav-item">
          {% include '@templates/partials/inline-button.html' with {'link': '/about.html', 'label': 'About', 'isActive': nav == 'About' ? true : false} %}
        </div>
        <div class="header--nav-item">
          {% include '@templates/partials/inline-button.html' with {'link': 'https://docs.google.com/document/d/15NsBijM4xRGKAcKnepBtZeEO2mXM3aVN2a6IhZLeQqg/edit', 'label': 'FAQ', 'newTab': true} %}
        </div>
        <div class="header--nav-item">
          {% include '@templates/partials/inline-button.html' with {'link': 'https://drive.google.com/file/d/1kknThrhDmEz7MooVlBPh41YJvtemVv95/view', 'label': 'Corporate Engagement', 'newTab': true} %}
        </div>
      </nav>
    </div>
  </div>
</header>
