<header class="header">
  <div class="header-content js-site-header">
    <h1 class="visually-hidden">Safe Paths</h1>
    <div class="header-logo">
      <a class="header-logo--link" href="/">
        {% include '@templates/svgs/logo.svg' %}
      </a>
    </div>

    <div class="header-button-group">
      <nav class="header--nav">
        <div class="header--nav-item">
          {% include '@templates/partials/inline-button.html' with {'link': '/about.html', 'label': 'About', 'isActive': nav == 'About' ? true : false} %}
        </div>
        <div class="header--nav-item">
          {% include '@templates/partials/inline-button.html' with {'link': 'https://docs.google.com/document/d/15NsBijM4xRGKAcKnepBtZeEO2mXM3aVN2a6IhZLeQqg/edit', 'label': 'FAQ', 'newTab': true} %}
        </div>
      </nav>
    </div>
  </div>
</header>
