<a
  class="link--button {{icon ? 'link--button-icon' : primary ? 'link--button-primary' : ''}}"
  href="{{link}}"
  {% if newTab %}
    target="_blank"
    rel="noopener"
  {% endif %}
>
  {# Before label icon #}
  {% if icon %}
    {% include '@templates/svgs/icon-'~icon~'.svg' %}
  {% endif %}

  {# Label #}
  {{label}}

  {# Default: After label icon #}
  {% if not icon %}
    {% include '@templates/svgs/arrow.svg' %}
  {% endif %}
</a>