<a class="post-tease content-block-inner" href="#">
  <div class="post-tease--title">
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h3>
  </div>
  <div class="post-tease--deck">
    <p>Voluptate quasi facilis fugiat cupiditate sed dignissimos laborum animi veniam, consequuntur quam, explicabo commodi. Aliquam obcaecati culpa, excepturi sed incidunt praesentium corrupti.</p>
  </div>
</a>