{% set topper = site.data['topper.json'] %}
{% set features = topper.features %}

<div class="page-topper">
  <div class="page-topper-content">
    <div class="topper-title">
      <h2>{{ topper.title }}</h2>
    </div>

    
    <div class="topper-section">
      <div class="topper-section--col topper-section--title"></div>
      
      {% for feature in features %}
      <div class="topper-section--col topper-feature">
        {% include '@templates/partials/numbered-feature.twig' with {
          'title': feature.title, 
          'description': feature.description
          }
        %}
      </div>
      {% endfor %}

    </div>
  </div>
</div>
