{% set topper = site.data['topper.json'] %}
{% set features = topper.features %}

<div class="page-topper">
  <div class="page-topper-content">

    <div class="topper-art">
      <canvas id="canvas" class="topper-canvas"></canvas>
    </div>
    
    <div class="topper-title">
      <h2>{{ topper.title }}</h2>
      <div class="intro-section">
        <p class="intro-paragraph">
          {{ topper.desc }}
        </p>
      </div>

      <div class="grid intro-section">
        <div class="grid-cell intro-block">
          {% include '@templates/partials/link-button.twig' with {'label': 'App Store', 'link':
        'https://apps.apple.com/us/app/private-kit-prototype/id1501903733', 'icon': 'app-store', 'newTab': true} %}
        </div>
        <div class="grid-cell intro-block">
          {% include '@templates/partials/link-button.twig' with {'label': 'Google Play', 'link': 'https://play.google.com/store/apps/details?id=edu.mit.privatekit', 'icon': 'google-play', 'newTab': true} %}
        </div>
      </div>
    </div>
  </div>
</div>
