<div class="whitepaper">
  <a class="whitepaper-link" href="{{whitepaper.link}}" target="_blank" rel="noopener">
    <div class="whitepaper-label">
      {{whitepaper.label}}
      {% include '@templates/svgs/file.svg' %}
    </div>
    <p class="whitepaper-title">{{whitepaper.title}}</p>
  </a>
</div>