html {
  background-color: $color-bg;
}

body {
  color: $color-base;
  font-family: $sans;
  font-kerning: normal;
  font-size: $fs-base;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fw-bold;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}
