---
title: COVID SafePaths - About
---

{% embed "@templates/layouts/basic-page.twig" with {'nav': 'About'} %}

{% block basicHeader %}
<div class="basic-page--overline js-reveal-stagger-item"><p>About</p></div>
<h2 class="basic-page--title js-reveal-stagger-item">We are a community-led movement.</h2>
<div class="basic-page--deck js-reveal-stagger-item">
  <p>Safe Paths is developing free, open-source, privacy-by-design tools for individuals, public
    health officials, and larger communities to flatten the curve of COVID-19, reduce fear, and prevent a
    surveillance-state
    response to the pandemic.</p>
</div>
{% endblock %}

{% block basicBody %}
<main>
  {% include '@templates/sections/section-collaborator-projects.twig' %}
  {% include '@templates/sections/section-partners.twig' %}
  {% include '@templates/sections/section-whitepapers.twig' %}
  {% include '@templates/sections/section-team.twig' %}
  {% include '@templates/sections/section-basic.twig' %}
  {% include '@templates/sections/section-news.twig' %}
</main>
{% endblock %}

{% endembed %}