---
title: COVID SafePaths - About
---

{% embed "@templates/layouts/basic-page.twig" with {'nav': 'About'} %}

{% block basicHeader %}
<h2 class="basic-page--title">A global community-led movement</h2>
<div class="basic-page--deck">
  <p>Safe Paths develops free, open-source, privacy-by-design tools for residents, public health officials, and larger
  communities to flatten the curve of COVID-19, reduce fear, and prevent a surveillance-state response to the pandemic.</p>
  <p>Join our Webinar every Saturday at 1pm <a href="https://zoom.us/j/95143407504">Here</a></p>
  Video from <a href="https://zoom.us/rec/play/uJIpcbv9qjI3Hoad4gSDBPJ7W469Kqus2nMWqfMNy0-zAXdWMVCgb7oTN7CIGAdtetjP9xvtkuucmYyg?continueMode=true&_x_zm_rtaid=rgcnGbKcSTKaQIg5gd5DTA.1587262132734.1bb653561c1706e37f011cde9beb9dea&_x_zm_rhtaid=393">April 18th</a>
</div>
{% endblock %}

{% block basicBody %}
<main>
  {% include '@templates/sections/section-text.twig' %}
  {% include '@templates/sections/section-team.twig' %}
  {% include '@templates/sections/section-partners.twig' %}
  {% include '@templates/sections/section-collaborator-projects.twig' %}
  {% include '@templates/sections/section-whitepapers.twig' %}
  {% include '@templates/sections/section-basic.twig' %}
  {% include '@templates/sections/section-news.twig' %}
</main>
{% endblock %}

{% endembed %}
