---
title: COVID SafePaths
---

{% extends "@templates/layouts/base.twig" %}
{% set callouts = site.data['callouts.yaml'] %}

{% block content %}
<main>
  {% include '@templates/partials/topper.twig' %}
  <div class="home-body">
    {% for callout in callouts %}
      {% include '@templates/sections/section-callouts.twig' with {'altLayout': callout.altLayout} %}
    {% endfor %}
    {% include '@templates/sections/section-how-it-works.twig' %}
    {% include '@templates/sections/section-better-together.twig' %}
    {% include '@templates/sections/section-why-safe-paths.twig' %}
  </div>
  {% include '@templates/sections/section-principles.twig' %}
  {% include '@templates/sections/section-whitepapers.twig' %}
</main>
{% endblock %}
