---
title: COVID SafePaths
---

{% extends "@templates/layouts/base.twig" %}

{% block header %}
  {% include '@templates/partials/header.twig' %}
{% endblock %}

{% block content %}
<main>
  {% include '@templates/partials/topper.twig' %}
  <div class="home-body">
    {% include '@templates/sections/section-download.twig' %}
    {% include '@templates/sections/section-partners.twig' %}
    {% include '@templates/sections/section-whitepapers.twig' %}
    {% include '@templates/sections/section-team.twig' %}
    {% include '@templates/sections/section-basic.twig' %}
    {% include '@templates/sections/section-collaborator-projects.twig' %}
    {% include '@templates/sections/section-news.twig' %}
  </div>
</main>
{% endblock %}

{% block footer %}
  {% include '@templates/partials/footer.html' %}
{% endblock %}
