---
title: COVID SafePaths - In-App Newsfeed
---

{% extends "@templates/layouts/basic-page.twig" %}

{% set news = site.data['news.json'].news %}

{% block basicHeader %}
<h2>In the news</h2>
{% endblock %}

{% block basicBody %}
<div class="news-content">
  {% for article in news %}
    <div class="news-content-block">
      <div class="content-block-inner">
        {% include '@templates/partials/news-article.html' with {article} %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
