<section class="basic-page-section">
  <div class="basic-page-section-content">
    <header class="basic-page-section-header">{% block header %}{% endblock %}</header>
    <div class="basic-page-section-body">{% block content %}{% endblock %}</div>
  </div>
</section>