{% extends '@templates/layouts/base.twig' %}

{% block header %} 
  {% include '@templates/partials/header.twig' %}
{% endblock %}

{% block content %}
<div class="basic-page--content">
  <div class="basic-page--header">
      {% block basicHeader %} {% endblock %}
  </div>

  <div class="basic-page--body">
    {% block basicBody %} {% endblock %}
  </div>
</div>
{% endblock %}