<section class="page-section">
  <div class="page-section-content">
    <header class="section-header">{% block header %}{% endblock %}</header>
    <div class="section-body">{% block content %}{% endblock %}</div>
  </div>
</section>