// Colors
$color-base: #26223c;
$color-spot: #3498fc;
$color-bg: #f0f0f0;
$color-border: transparentize($color-base, 0.9);

// Typefaces
$sans: Inter, sans-serif;

// Font sizes
$fs-base: 1rem;
$fs-lg: 3rem;
$fs-md: 1.6rem;

$fs-h1: 3rem;
$fs-h2: 2.7rem;
$fs-h3: 2.1rem;
$fs-h4: 1.8rem;
$fs-h5: 1.6rem;
$fs-h6: 1.2rem;

// Letter spacing
$ls-tight: -0.045em;

// Spacing
$sp-base: 10px;
$sp-sm: 15px;
$sp-md: 20px;
$sp-lg: 30px;

// Breakpoints
$sm: 320px;
$md: 768px;
$lg: 1024px;

// Border radius
$br: 999rem;

// Easings
$outQuint: 0.3s cubic-bezier(0.22, 1, 0.36, 1);
