// Colors
$color-base: #171c26;
$color-spot: #4051db;
$color-highlight: #ff5656;
$color-bg: #f0f0f0;
$color-white: #ffffff;
$color-border: $color-base;
$color-bg-blue: mix($color-spot, $color-bg, $weight: 5%);
$color-bg-light: lighten($color-bg, 3%);
$color-bg-dark: darken($color-bg, 6%);
$box-shadow-light: transparentize($color-white, 0.25);
$box-shadow-dark: transparentize(darken($color-bg, 20%), 0.85);

// Gradients
$gradient-blue: linear-gradient(-45deg, darken($color-spot, 2%), lighten($color-spot, 2%));

// Typefaces
$sans: Inter, sans-serif;
$mono: IBMPlexMono, monospace;

// Font sizes
$fs-base: 1rem;
$fs-sm: 1.3rem;
$fs-xs: 0.85rem;
$fs-md: 1.6rem;
$fs-lg: 2.2rem;
$fs-giant: 4.2rem;
$fs-gargantuan: 6.4rem;

$fs-h1: 3.4rem;
$fs-h2: 3.2rem;
$fs-h3: 1.3rem;
$fs-h4: 1.2rem;
$fs-h5: 1.1rem;
$fs-h6: $fs-base;

// Font weights
$fw-bold: 500;

// Letter spacing
$ls-tight: -0.045em;
$ls-loose: 0.07em;

// Spacing
$sp-base: 10px;
$sp-sm: 15px;
$sp-xs: 5px;
$sp-md: 20px;
$sp-lg: 30px;
$sp-xl: 60px;
$sp-xxl: 140px;

// Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$xl: 1440px;

// Border
$border: 1px solid darken($color-bg, 10%);

// Border radius
$br: 999rem;
$br-sm: 1.5rem;

// Box shadow
$box-shadow: -5px -5px 15px $box-shadow-light, 5px 5px 15px $box-shadow-dark;

// Easings
$outQuint: 0.3s cubic-bezier(0.22, 1, 0.36, 1);

// Layout
$col-1: 25%;
$col-2: 50%;
$col-3: 75%;
$col-4: 100%;

$layout-max-width: 1200px;

$grid-gutter: $sp-lg;
$grid-gutter-lg: $grid-gutter * 2;
$grid-col-count: 8;
$grid-col-width: $grid-col-count / 100%;
