// Colors
$color-base: #26223c;
$color-spot: #6979f8;
$color-bg: #f0f0f0;
$color-white: #ffffff;
$color-border: $color-base;

// Typefaces
$sans: Inter, sans-serif;

// Font sizes
$fs-base: 1rem;
$fs-sm: 1.3rem;
$fs-xs: 0.9rem;
$fs-md: 1.6rem;
$fs-lg: 2.2rem;
$fs-giant: 4.2rem;
$fs-gargantuan: 6.4rem;

$fs-h1: 3.4rem;
$fs-h2: 3.2rem;
$fs-h3: 1.3rem;
$fs-h4: 1.2rem;
$fs-h5: 1.1rem;
$fs-h6: $fs-base;

// Font weights
$fw-bold: 500;

// Letter spacing
$ls-tight: -0.045em;
$ls-loose: 0.05em;

// Spacing
$sp-base: 10px;
$sp-sm: 15px;
$sp-md: 20px;
$sp-lg: 30px;
$sp-xl: 60px;
$sp-xxl: 140px;

// Breakpoints
$sm: 320px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;

// Border radius
$br: 999rem;

// Easings
$outQuint: 0.3s cubic-bezier(0.22, 1, 0.36, 1);

// Layout
$col-1: 25%;
$col-2: 50%;
$col-3: 75%;
$col-4: 100%;

$layout-max-width: 1200px;

$grid-gutter: $sp-lg;
$grid-col-count: 8;
$grid-col-width: $grid-col-count / 100%;
